// https://www.nextflow.io/docs/latest/config.html

manifest {
    author = "Justin Patterson, Andy Chea, Sandhya Govindarajan, Joel Markus Vaz"
    description = "Bacterial genomic epidemiology pipeline"
    name = "BacBuster"
    mainScript = "BacBuster.nf"
    nextflowVersion = "22.10.6"
}

timeline.overwrite = true
dag.overwrite = true
report.overwrite = true
conda.enabled = true

conda {
    useMamba = true
}

// https://www.nextflow.io/docs/latest/config.html#config-profiles
profiles {
    
    standard {
        // https://www.nextflow.io/docs/latest/config.html#scope-executor
        process.executor = 'local'
    }
}